We've found your location and you're about to get fed.<br />
<strong><%= @user.location %></strong><br /><br />
  
<p><%= @mood %><%= @weather %><%= @healthy %><%= @spicy %><%= @price %><%= @restriction %></p>

<!-- here, we want to return - 
the restaurant's name 
the restaurant's address 
the restaurant's number
with the map
name with link to the official website
 -->

<a href="https://api.yelp.com/v2/search/?location=new york, ny&category_filter=pizza,japanese">Testing</a>