<div class="magic openDownLeft">
	<div id="summary-title">Well, this is your life decision:</div> 
	<div id="summary">
		<%= @mood %><%= @weather %><%= @healthy %><%= @spicy %><%= @price %><%= @restriction %>
	</div>
</div>

<!-- Hidden field get location -->
<%= link_to "NOW LET'S GET SOME GRUB", choiceForToday_path, class: 'sweep-to-right', :method => :post, remote: true %><br />