
<%= Yelp.client.search_by_coordinates(@coordinates, @parameters, @locale).businesses[0].name %><br/>

<img src="<%= Yelp.client.search_by_coordinates(@coordinates, @parameters, @locale).businesses[0].image_url %>"></img><br/>

<p><%= Yelp.client.search_by_coordinates(@coordinates, @parameters, @locale).businesses[0].review_count%> reviews</p><br/>

<img src="<%= Yelp.client.search_by_coordinates(@coordinates, @parameters, @locale).businesses[0].rating_img_url_small %>"></img><br/>

<%= Yelp.client.search_by_coordinates(@coordinates, @parameters, @locale).businesses[0].location.display_address %><br/>

<a href="<%= Yelp.client.search_by_coordinates(@coordinates, @parameters, @locale).businesses[0].url %>">Check out this business on <br/>Yelp!</a>

<!-- <#% redirect_to action: "show" %> -->
